<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary | About</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/style2.css" />
</head>

<body>

  <section id="topBar">
    <div>
      <div><a href="/">Dictionary!</a></div>
      <span id="navBtn">
        <img src="/images/svgs/menu1.svg" alt="">
        <div id="menuDiv" class="hidden">
          <nav id="menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/devLog">Developer's Log</a></li>
              <li><a href="https://currx.ml">CurrX - webApp</a></li>
              <li><a href="https://weatheral.cf">Weateral - webApp</a></li>
            </ul>
          </nav>
        </div>
      </span>
    </div>
  </section>

  <section id="mainBodyt">
    <div id="post">
      <div id="postTitle">
        <h2>Dictionary!</h2>
      </div>
      <div id="postDis">
        <p>
          This app will let you search for most of the words and return with the most informative meanings, similar and
          opposite words, etc.<br><br>Note that this website is still in development phase, and still needs more user
          feedback.<br><br><a href="https://wa.me/918657387331">Click here to contact me or to give your feedback.</a>
        </p>
      </div>
    </div>
  </section>


  <script src="/scripts/nav.js" defer></script>
</body>

</html>