<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary | DevLog</title>
  <link rel="stylesheet" href="/styles/style2.css" />
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>

  <section id="topBar">
    <div>
      <div><a href="/">Dictionary!</a></div>
      <span id="navBtn">
        <img src="/images/svgs/menu1.svg" alt="">
        <div id="menuDiv" class="hidden">
          <nav id="menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="https://currx.ml">CurrX - webApp</a></li>
              <li><a href="https://weatheral.cf">Weateral - webApp</a></li>
            </ul>
          </nav>
        </div>
      </span>
    </div>
  </section>

  <section id="mainBodyt">
    <div id="post">
      <div id="postTitle">
        <h2>Hello</h2>
      </div>
      <div id="postDis">
        <p>
          These Logs will be updated soon. :)
        </p>
      </div>
    </div>
  </section>







  <script src="/scripts/nav.js" defer></script>
</body>

</html>