<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dictionary!</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
  <section id="topBar">
    <div>Dictionary!</div>
    <nav>=</nav>
  </section>
  <section id="mainBody">
    <div id="mainTitle">
      <span id="mainTitleText"> SearchAnything! </span>
      <span id="langSelect">
        <span> EN </span>
        <span> > </span>
      </span>
    </div>
    <div id="dictBar">
      <form>
        <input type="text" placeholder="Enter a Word!" class="dictInput" id="searchWord" />
        <input type="button" value="©" class="dictInput" id="searchButton" />
      </form>
    </div>
    <div id="resultSection">
      <div id="resultTop">
        <span id="resultWord">Apple</span>
        <span id="resultSpell"> /ˈæp.əl/ </span>
      </div>
      <div id="spellBar">
        <div class="spellCard">
          <span class="spellAudio">
            <button>@</button>
          </span>
          <span class="spellDetail">
            <div class="spellTitle">US</div>
            <div class="spellDiscription">/'gsj/</div>
          </span>
        </div>
        <div class="spellCard">
          <span class="spellAudio">
            <button>@</button>
          </span>
          <span class="spellDetail">
            <div class="spellTitle">UK</div>
            <div class="spellDiscription">/'ghsj/</div>
          </span>
        </div>
      </div>
      <div id="definitionResult">
        <div class="definitionBatch">
          <div class="partOfSpeech">noun</div>
          <div class="definitionBar">
            <div class="definitionCard">
              <div class="definations">
                "A common, round fruit produced by the tree Malus domestica,
                cultivated in temperate climates."
              </div>
              <div class="definitionNyms">
                <div>
                  <span class="nymTitle"> Antonyms : </span>
                  <span class="antonyms"> apple, mango. </span>
                </div>
                <div>
                  <span class="nymTitle"> Synonyms : </span>
                  <span class="antonyms">
                    mango, pineapple, cheekoo, banana, water bottle and water
                  </span>
                </div>
              </div>
            </div>

            <div class="definitionCard">
              <div class="definations">
                "A common, round fruit produced by the tree Malus domestica,
                cultivated in temperate climates."
              </div>
              <div class="definitionNyms">
                <div>
                  <span class="nymTitle"> Antonyms : </span>
                  <span class="antonyms"> apple, mango. </span>
                </div>
                <div>
                  <span class="nymTitle"> Synonyms : </span>
                  <span class="antonyms">
                    mango, pineapple, cheekoo, banana, water bottle and water
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="definitionBatch">
          <div class="partOfSpeech">verb</div>
          <div class="definitionBar">
            <div class="definitionCard">
              <div class="definations">
                "A common, round fruit produced by the tree Malus domestica,
                cultivated in temperate climates."
              </div>
              <div class="definitionNyms">
                <div>
                  <span class="nymTitle"> Antonyms : </span>
                  <span class="antonyms"> apple, mango. </span>
                </div>
                <div>
                  <span class="nymTitle"> Synonyms : </span>
                  <span class="antonyms">
                    mango, pineapple, cheekoo, banana, water bottle and water
                  </span>
                </div>
              </div>
            </div>

            <div class="definitionCard">
              <div class="definations">
                "A common, round fruit produced by the tree Malus domestica,
                cultivated in temperate climates."
              </div>
              <div class="definitionNyms">
                <div>
                  <span class="nymTitle"> Antonyms : </span>
                  <span class="antonyms"> apple, mango. </span>
                </div>
                <div>
                  <span class="nymTitle"> Synonyms : </span>
                  <span class="antonyms">
                    mango, pineapple, cheekoo, banana, water bottle and water
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="definitionBatch">
          <div class="partOfSpeech">noun</div>
          <div class="definitionBar">
            <div class="definitionCard">
              <div class="definations">
                "A common, round fruit produced by the tree Malus domestica,
                cultivated in temperate climates."
              </div>
              <div class="definitionNyms">
                <div>
                  <span class="nymTitle"> Antonyms : </span>
                  <span class="antonyms"> apple, mango. </span>
                </div>
                <div>
                  <span class="nymTitle"> Synonyms : </span>
                  <span class="antonyms">
                    mango, pineapple, cheekoo, banana, water bottle and water
                  </span>
                </div>
              </div>
            </div>

            <div class="definitionCard">
              <div class="definations">
                "A common, round fruit produced by the tree Malus domestica,
                cultivated in temperate climates."
              </div>
              <div class="definitionNyms">
                <div>
                  <span class="nymTitle"> Antonyms : </span>
                  <span class="antonyms"> apple, mango. </span>
                </div>
                <div>
                  <span class="nymTitle"> Synonyms : </span>
                  <span class="antonyms">
                    mango, pineapple, cheekoo, banana, water bottle and water
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <footer>
      <div class="footerBox">
        <div class="footerBoxTitle">Navigate yourself!</div>
        <div class="footerLinkBox">
          <nav>
            <ul>
              <li class="footerLink"><a href="notFound.html">About</a></li>
              <li class="footerLink"><a href="test.html">Contact Us</a></li>
              <li class="footerLink"><a href="">License</a></li>
              <li class="footerLink"><a href="">Developer</a></li>
              <li class="footerLink">
                <a href="">Open-Source Repository</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--  -->
      <div class="footerBox">
        <div class="footerBoxTitle"></div>
        <div class="footerLinkBox">
          <nav>
            <ul>
              <li class="footerLink"><a href="">About</a></li>
              <li class="footerLink"><a href="">Contact Us</a></li>
              <li class="footerLink"><a href="">License</a></li>
              <li class="footerLink"><a href="">Developer</a></li>
              <li class="footerLink">
                <a href="">Open-Source Repository</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </section>

  <script src="" defer></script>
</body>

</html>