<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dictionary!</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
  <section id="topLoader">
    Loading...
  </section>
  <section id="topBar">
    <div>
      <div>Dictionary!</div>
      <span id="navBtn">
        <img src="/images/svgs/menu1.svg" alt="">
        <div id="menuDiv" class="hidden">
          <nav id="menu">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/devLog">Developer's Log</a></li>
              <li><a href="https://currx.ml">CurrX - webApp</a></li>
              <li><a href="https://weatheral.cf">Weateral - webApp</a></li>
            </ul>
          </nav>
        </div>
      </span>
    </div>
  </section>

  <div id="mainGrid">
    <section id="mainBody">
      <div id="mainTitle">
        <span id="mainTitleText"> SearchAnything!</span>
        <span id="darkMode" title="Dark Mode : Comming Soon">
          <span id="darkModeIcon"><img src="/images/svgs/darkMode1.svg" alt="" /></span>
          <span id="darkModeToggle"><button disabled>
              <img src="/images/svgs/dropDown1.svg" alt="" /></button></span>
        </span>
      </div>
      <div id="dictBar">
        <form>
          <input type="text" placeholder="Enter a Word!" class="dictInput" id="searchWord" />
          <button class="dictInput" id="searchButton">
            <img src="images/svgs/search1.svg" alt="">
          </button>
        </form>
      </div>
      <div id="resultSection">
        <div id="resultTop">
          <span id="resultWord">Apple</span>
          <span id="resultSpell">h</span>
        </div>
        <div id="spellBar">
          <div class="spellCard">
            <span class="spellAudio">
              <button>
                <!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  style="isolation: isolate" viewBox="0 0 700 700" width="700pt" height="700pt">
                  <defs>
                    <clipPath id="_clipPath_wiDUAU3vKhf4s7OU8RHdo1ePikWk0BoK">
                      <rect width="700" height="700" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#_clipPath_wiDUAU3vKhf4s7OU8RHdo1ePikWk0BoK)">
                    <path
                      d=" M 116.67 419.994 C 110.479 419.994 104.545 417.537 100.17 413.159 C 95.795 408.784 93.334 402.85 93.334 396.663 L 93.334 303.327 C 93.334 294.991 97.783 287.288 105.002 283.12 C 112.221 278.952 121.115 278.952 128.334 283.12 C 135.553 287.288 140.002 294.991 140.002 303.327 L 140.002 396.663 C 140.002 402.85 137.545 408.784 133.166 413.159 C 128.791 417.537 122.857 419.994 116.67 419.994 L 116.67 419.994 Z "
                      fill="rgb(64,78,255)" />
                    <path
                      d=" M 233.33 513.324 C 227.142 513.324 221.209 510.867 216.834 506.492 C 212.455 502.117 209.998 496.18 209.998 489.992 L 209.998 209.992 C 209.998 201.657 214.447 193.953 221.666 189.785 C 228.885 185.617 237.779 185.617 244.998 189.785 C 252.217 193.953 256.666 201.656 256.666 209.992 L 256.666 489.992 C 256.666 496.18 254.205 502.117 249.83 506.492 C 245.455 510.867 239.521 513.324 233.33 513.324 L 233.33 513.324 Z "
                      fill="rgb(64,78,255)" />
                    <path
                      d=" M 583.33 419.994 C 577.142 419.994 571.209 417.537 566.834 413.159 C 562.455 408.784 559.998 402.85 559.998 396.663 L 559.998 303.327 C 559.998 294.991 564.447 287.288 571.666 283.12 C 578.885 278.952 587.779 278.952 594.998 283.12 C 602.217 287.288 606.666 294.991 606.666 303.327 L 606.666 396.663 C 606.666 402.85 604.205 408.784 599.83 413.159 C 595.455 417.537 589.521 419.994 583.33 419.994 L 583.33 419.994 Z "
                      fill="rgb(64,78,255)" />
                    <path
                      d=" M 466.67 513.324 C 460.479 513.324 454.545 510.867 450.17 506.492 C 445.795 502.117 443.334 496.18 443.334 489.992 L 443.334 209.992 C 443.334 201.657 447.783 193.953 455.002 189.785 C 462.221 185.617 471.115 185.617 478.334 189.785 C 485.553 193.953 490.002 201.656 490.002 209.992 L 490.002 489.992 C 490.002 496.18 487.545 502.117 483.166 506.492 C 478.791 510.867 472.857 513.324 466.67 513.324 L 466.67 513.324 Z "
                      fill="rgb(64,78,255)" />
                    <path
                      d=" M 350 606.664 C 343.812 606.664 337.875 604.204 333.5 599.829 C 329.125 595.454 326.668 589.52 326.668 583.329 L 326.668 116.669 C 326.668 108.333 331.113 100.63 338.332 96.462 C 345.551 92.294 354.449 92.294 361.668 96.462 C 368.887 100.63 373.332 108.333 373.332 116.669 L 373.332 583.329 C 373.332 589.52 370.875 595.454 366.5 599.829 C 362.125 604.204 356.188 606.664 350 606.664 Z "
                      fill="rgb(64,78,255)" />
                  </g>
                </svg>
              </button>
            </span>
            <span class="spellDetail">
              <div class="spellTitle thinItalics">Audio not found</div>
              <div class="spellDiscription thinItalics">"Text not found"</div>
            </span>
          </div>
          <div class="spellCard">
            <span class="spellAudio">
              <button>@</button>
            </span>
            <span class="spellDetail">
              <div class="spellTitle">UK</div>
              <div class="spellDiscription">/'ghsj/</div>
            </span>
          </div>
        </div>
        <div id="definitionResult">
          <div class="definitionBatch">
            <div class="partOfSpeech">nounfsf</div>
            <div class="definitionBar">
              <div class="definitionCard">
                <div class="definations">
                  "A common, round fruit produced by the tree Malus domestica,
                  cultivated in temperate climates."
                </div>
                <div class="definitionNyms">
                  <div>
                    <span class="nymTitle"> Antonyms : </span>
                    <span class="antonyms"> apple, mango. </span>
                  </div>
                  <div>
                    <span class="nymTitle"> Synonyms : </span>
                    <span class="antonyms">
                      mango, pineapple, cheekoo, banana, water bottle and
                      water
                    </span>
                  </div>
                </div>
              </div>

              <div class="definitionCard">
                <div class="definations">
                  "A common, round fruit produced by the tree Malus domestica,
                  cultivated in temperate climates."
                </div>
                <div class="definitionNyms">
                  <div>
                    <span class="nymTitle"> Antonyms : </span>
                    <span class="antonyms"> apple, mango. </span>
                  </div>
                  <div>
                    <span class="nymTitle"> Synonyms : </span>
                    <span class="antonyms">
                      mango, pineapple, cheekoo, banana, water bottle and
                      water
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  -->

          <div class="definitionBatch">
            <div class="partOfSpeech">verb</div>
            <div class="definitionBar">
              <div class="definitionCard">
                <div class="definations">
                  "A common, round fruit produced by the tree Malus domestica,
                  cultivated in temperate climates."
                </div>
                <div class="definitionNyms">
                  <div>
                    <span class="nymTitle"> Antonyms : </span>
                    <span class="antonyms"> apple, mango. </span>
                  </div>
                  <div>
                    <span class="nymTitle"> Synonyms : </span>
                    <span class="antonyms">
                      mango, pineapple, cheekoo, banana, water bottle and
                      water
                    </span>
                  </div>
                </div>
              </div>

              <div class="definitionCard">
                <div class="definations">
                  "A common, round fruit produced by the tree Malus domestica,
                  cultivated in temperate climates."
                </div>
                <div class="definitionNyms">
                  <div>
                    <span class="nymTitle"> Antonyms : </span>
                    <span class="antonyms"> apple, mango. </span>
                  </div>
                  <div>
                    <span class="nymTitle"> Synonyms : </span>
                    <span class="antonyms">
                      mango, pineapple, cheekoo, banana, water bottle and
                      water
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  -->

          <div class="definitionBatch">
            <div class="partOfSpeech">noun</div>
            <div class="definitionBar">
              <div class="definitionCard">
                <div class="definations">
                  "A common, round fruit produced by the tree Malus domestica,
                  cultivated in temperate climates."
                </div>
                <div class="definitionNyms">
                  <div>
                    <span class="nymTitle"> Antonyms : </span>
                    <span class="antonyms"> apple, mango. </span>
                  </div>
                  <div>
                    <span class="nymTitle"> Synonyms : </span>
                    <span class="antonyms">
                      mango, pineapple, cheekoo, banana, water bottle and
                      water
                    </span>
                  </div>
                </div>
              </div>

              <div class="definitionCard">
                <div class="definations">
                  "A common, round fruit produced by the tree Malus domestica,
                  cultivated in temperate climates."
                </div>
                <div class="definitionNyms">
                  <div>
                    <span class="nymTitle"> Antonyms : </span>
                    <span class="antonyms"> apple, mango. </span>
                  </div>
                  <div>
                    <span class="nymTitle"> Synonyms : </span>
                    <span class="antonyms">
                      mango, pineapple, cheekoo, banana, water bottle and
                      water
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside id="mainSide">
      <div id="sideCard">
        <div id="sideTitle">Site Under Development!</div>
        <div id="sideDisc">
          This Site is under development stage. Some features may not be added
          or working properly. We are working on this site to improve the
          search results, improve or fix the existing features and adding new
          features!
          <a href="/devlog">For More Information Click Here!</a>
        </div>
      </div>
      <div id="sideCard">
        <div id="sideTitle">Contact or Give Feedback!</div>
        <div id="sideDisc">
          <a href="/about">Click here to give your feedback and/or contact me.</a>
        </div>
      </div>
    </aside>
  </div>

  <section>
    <footer>
      <div class="footerBox">
        <div class="footerBoxTitle">Navigate yourself!</div>
        <div class="footerLinkBox">
          <nav>
            <ul>
              <li class="footerLink"><a href="/about">About</a></li>
              <li class="footerLink"><a href="/about">Contact Us</a></li>
              <li class="footerLink"><a href="">License</a></li>
              <li class="footerLink"><a href="/devlog">Developer</a></li>
              <li class="footerLink">
                <a href="https://github.com">Open-Source Repository</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--  -->
      <br><br>
      <div class="footerBox">
        <div class="footerBoxTitle">Version</div>
        <div class="footerLinkBox">
          <nav>
            <ul>
              <li class="footerLink"><a>Beta v1.0.0</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </section>

  <script src="/scripts/script.js" defer></script>
  <script src="/scripts/nav.js" defer></script>
</body>

</html>